@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Lato&family=Montserrat&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Lato&family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Jura", sans-serif;
}

.mcircle,
.mdot {
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
}

.mcircle {
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid #c7a622;
    animation: mcircleAnimation 10s infinite linear;
}

@keyframes mcircleAnimation {
    0% {
        width: 6rem;
        height: 6rem;
    }
    25% {
        width: 8rem;
        height: 8rem;
    }
    35% {
        width: 4rem;
        height: 4rem;
    }
    70% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        width: 6rem;
        height: 6rem;
    }
}

.mdot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #9b0e0e;
    animation: mdotAnimation 10s infinite linear;

}

@keyframes mdotAnimation{
    0% {
        width: 0.5rem;
        height: 0.5rem;
    }
    55% {
        width: 1.5rem;
        height: 1.5rem;
    }
    100% {
        width: 0.5rem;
        height: 0.5rem;

}
}

html {
    font-size: 62.5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainbtn {
  position: absolute;
  bottom: -3rem;
  width: 13rem;
  height: 13rem;
  background: radial-gradient(circle, rgba(161,161,156,1) 12%, rgba(177,177,172,1) 21%, rgba(193,192,187,1) 32%, rgba(208,208,202,1) 46%, rgba(224,224,213,1) 63%, rgba(240,239,226,1) 75%);
  border-radius: 50%;
  border: 0.2rem solid #fff;
  padding: 0.1rem;
  overflow: hidden;
}

.mainbtncontent {
  width: 100%;
  height: 100%;
  border: 0.2rem solid #e7be08;
  border-radius: 50%;
  transform: rotate(40deg);
  transition: transform 0.2s, border 0.2s;
}

.mainbtn:hover .mainbtncontent {
  transform: rotate(60deg);
  border: 0.2rem dotted #9b0e0e;
  transition: transform 0.2s 0.5s, border 0.2s;
}

.mainbtnline{
  position: absolute;
  top: 4rem;
  width:3rem;
  height: .5rem;
  border:0.1rem solid black;
   
}

.mainbtnline:nth-child(1) {
  transform: rotateZ(-45deg) translateX(-0.65rem);
  transform-origin: left center;
  border-right: none;
}

.mainbtnline:nth-child(2) {
  transform: rotateZ(45deg) translateX(0.65rem);
  transform-origin: right center;
  border-left: none;
}

.mainbtnline:nth-child(3) {
  transform: rotateZ(90deg) translateX(0.5rem);
  border-left: none;
}
.mainbtn span {
  position: absolute;
  bottom: 3rem;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ripple {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(250,134,7,1) 12%, rgba(250,150,27,1) 21%, rgba(252,176,51,1) 32%, rgba(254,204,81,1) 46%, rgba(250,134,7,1) 48%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rippleAnim 0.5s forwards;
}

@keyframes rippleAnim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 210%;
    height: 210%;
  }
}
.sectionheading{
    font-size: 2.2rem;
    font-weight:300;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    width:0;
    word-break: break-all;
    line-height:3;

}


.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/bg.jpg) center no-repeat;
}

.progress-bar {
  position: fixed;
  bottom: 4rem;
  width: 8rem;
  height: 8rem;
  right: 4rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 200;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.half-circle,.half-circle-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform-origin: right center;
}

.half-circle:nth-child(1){
  background-color: #b60000;
}

.half-circle:nth-child(2){
  background-color:#b60000;
}

/* .progress-bar:hover .half-circle:nth-child(1) {
  transform: rotate(180deg);
  transition: transform 1s linear;
}
.progress-bar:hover .half-circle:nth-child(2) {
  transform: rotate(360deg);
  transition: transform 2s linear;
}
.progress-bar:hover .half-circle-top{
  opacity:0;
  transition: opacity 0s 1s;
} */

.half-circle-top{
  background-color: #fff;
}



.progress-bar-circle {
  width: 7.8rem;
  height: 7.8rem;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-size:4rem;
  z-index: 200;
  transition:transform 0.5s;
  pointer-events: none;
}


.menu-icon {
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: 12rem;
  height: 7rem;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}

.menu-icon-line {
  width: 4rem;
  height: 0.1rem;
  background-color: #fff;
  margin: 0.5rem 0;
  box-shadow: 0 0.3rem 0.5rem #000;
}

.show-menu-icon {
  opacity: 1;
  visibility: visible;
}

.navbar {
  position: fixed;
  top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  z-index: 100;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.navbar-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 2.5rem;
  text-shadow: 0 0.3rem 0.5rem #000;
}

.hide-navbar {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10rem);
}


.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
  }

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.circle {
    width: 34rem;
    height: 34rem;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    transition: left 2s, top 2s;
  }

  .circle1 {
    background: url(images/landing/circle-1-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    margin-left: -10rem;
    animation: rotation 10s infinite linear;
  }

  .circle2 {
    background: url(images/landing/circle-2t-img.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    margin-right: -10rem;
    animation: rotation 10s infinite linear;
  }

  .circle3 {
    background: url(images/landing/circle-3t-img.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    margin-left: -10rem;
    animation: rotation 10s infinite linear;
  }


.circle4 {
  background: url(images/landing/circle-4t-img.png) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  margin-right: -10rem;
  animation: rotation 10s infinite linear;
}

.circle5 { 
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
  justify-content: center;
  
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.maincircle {
    margin-top: -400px;
    margin-left: 6.8cm;
    width: 14rem;
    height: 14rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
    opacity:0;
  }

  .maincircle:hover {
    width: 75rem;
    height: 75rem;
    border-radius: 50%;
    opacity:1;
  }


  .maincircle:hover img {
    
    position: relative;
    top: 0;
    left: 0;
    transition: left 2s, top 2s;
  }

.featured-text {
    font-size:2rem;
    color: #fff;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    position: sticky;
    top: 0;
}

.featured-text-1{
    margin: 10rem auto 17rem 10rem;
}

.featured-text-2{
    margin: 0 10rem 0 auto;
}


  /*section 1 stuff ends here
  /*section 2 stuff starts here*/
  
  .section2 {
    position: relative;
    padding: 25rem 10rem 15rem 10rem;
  }


  .aboutmetext {
    width: 80%;
    margin:auto;
  }

  .aboutmetext span{
    font-family: 'Orbitron', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    word-wrap: normal;
    color: #aaa;
    letter-spacing: 0.5rem;
    line-height: 1.5;
    text-shadow: 0 0 1rem #9b0e0e;
    position: relative;
    mix-blend-mode: color-dodge;
    
  }

  @keyframes aboutMeTextAnim{
    0% {
      color: #aaa;
      top: 0;
  }
  10%,
  90% {
    color: #fff;
    top: 0.4rem;
  }
  100% {
    color: #aaa;
    top: 0;
  }
}


.section2 .mainbtn {
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
}

/*section 2 stuff ends here*/
/*section 3 stuff starts here*/

.section3{
  width: 100%;
  height: 100%;
  padding:10rem 0;
  margin-top: 10rem;
  position: relative;
}

.projects {
  flex-wrap: wrap;
  padding-bottom: 15rem;
}

.project {
  width: 40rem;
  height: 45rem;
  overflow: hidden;
  margin: 5rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  border-width: 10px 4px;
  border-radius: 0.5rem;
  cursor: pointer;
  perspective: 20rem;
  transition: opacity 0.5s;
}

.project:hover {
  box-shadow: 0 0 35px #1e9bff;
}

.project img {
  width: 90%;
  object-fit: cover;
  position: absolute;
  top: 2rem;
  opacity: 0.5;
  pointer-events: none;
  transition: top 4s 0.2s, opacity 0.2s;
}

.project:nth-child(odd):hover img {
  animation: oddImgAnim 4s 0.2s;
  opacity: 1;
}


@keyframes oddImgAnim {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(-2deg) rotateX(2deg);
  }
  50% {
    transform: rotateY(2deg) rotateX(-2deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.project:nth-child(even):hover img {
  animation: evenImgAnim 4s 0.2s;
  opacity: 1;
}


@keyframes evenImgAnim {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(2deg) rotateX(-2deg);
    
  }
  50% {
    transform: rotateY(-2deg) rotateX(2deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.project-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden scroll;
  z-index: 100;
  scroll-behavior: smooth;
  animation: imgWrapperAnim 1s forwards;
}

@keyframes imgWrapperAnim {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.project-img {
  width: 100%;
  border-radius: 0.5rem;
  padding: 7rem 20rem;
  opacity: 0.9;
  display: block;
  transform-origin: top center;
  animation: imgAnim 1s 1s both;
}

@keyframes imgAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.project-hide-btn {
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  z-index: 200;
  transform: scale(0);
  visibility: hidden;
}

.change.project-hide-btn {
  transform: scale(1);
  visibility: visible;
  transition: transform 0.5s;
}

.projects-btn {
  left: 50%;
  transform: translateX(-50%);
}

.projects-btn .mainbtnline {
  transition: all 0.5s;
}

.change > .mainbtnline:nth-child(1) {
  transform: rotateZ(45deg) translateX(-0.65rem);
}

.change > .mainbtnline:nth-child(2) {
  transform: rotateZ(-45deg) translateX(0.65rem);
}

.change > .mainbtnline:nth-child(3) {
  transform: rotateZ(90deg) translateX(-0.5rem);
  border-left: 0.1rem solid #fff;
  border-right: none;
}
/*section 3 stuff ends here*/
/*section 4 stuff starts here*/
.section4{
  padding-top: 12rem;
  width: 100%;
  position: relative;
  z-index: 99;
}

.services-wrapper {
  width:100%;
  flex-direction: column;
}

.service {
  width: 70%;
  margin: 2rem 0;
  border-bottom: .5rem solid #9b0e0e;
}

.service-btn {
  width: 100%;
  position: relative;
  display: block;
  height: 15rem;
}
.service-btn span{
  font-family: 'Orbitron', sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight:bold;
  color: #9b0e0e;
  position: absolute;
  right: 0;
  pointer-events: none;
  transition: right 0.5s;
}

.service-text {
  font-size: 5rem;
  color: #777;
  letter-spacing: 0.1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.change.service-text {
  height: 15rem;
  visibility: visible;
  opacity: 1;
  transition: height 0.5s, opacity 0.5s 0.5s;
}

/*section4 ends here*/
/*section 5 stuff starts here*/
.section5 {
  position: relative;
  height: 150vh;
  flex-direction: column;
}

.form-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: #9b0e0e;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  transition: opacity 0.3s;
}


.contact-form {
  flex-direction: column;
}

.contact-form-input {
  width: 60rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid #9b0e0e;
  font-size: 1.7rem;
  font-weight: bold;
  color: #aaa;
  letter-spacing: 0.1rem;
  height: 5rem;
}

.contact-form-textarea {
  height: 20rem;
  resize: none;
}

.form-submit-btn {
  width: 20rem;
  height: 5rem;
  background-color: #9b0e0e;
  border: none;
  align-self: flex-start;
  font-size: 1.8rem;
  color: #fff;
}

.message {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f55e5e;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0 auto 1rem 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.error.message {
  visibility: visible;
  opacity: 1;
}

.slideshow {
  display: flex;
  width: 50rem;
  margin-top: 10rem;
  padding: 0 2rem;
}

.slideshow-link {
  width: 20%;
  filter: brightness(0.5);
  transition: filter 1.5s;
}

.slideshow-link:nth-child(1),
.slideshow-link:nth-child(6) {
  transition: width 0.5s, opacity 0.5s;
}

.slideshow-link:nth-child(3) {
  transition: filter 0.5s;
}

.slideshow-link img {
  width: 100%;
  padding: 0 1rem;
}

.faded-out {
  opacity: 0;
  width: 0;
}

.light {
  filter: brightness(1.5);
}

.cr {
  margin:2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color:red;
  font-size: 8rem;
}


/* responsove */

@media (max-width: 2160){
  .circle {
    width: 15rem;
    height: 15rem;
  }

  .circle5{
    width: 25rem;
    height: 25rem;
    display:none;
  }

  .maincircle {
    width: 25rem;
    height: 25rem;
    justify-content: center;
    opacity:1;
  }

  .maincircle:hover {
    width: 55rem;
    height: 55rem;
  }

  .maincircle img {
    width: 160%;
    height: 160%;
  }

  .aboutmetext span {
    font-size: 3rem;
  }

  .section4 {
    margin-bottom: 10rem;
  }

  .service-btn span {
    font-size: 9rem;
  }

  .service-text {
    font-size: 4rem;
  }

}

@media (max-width: 1500px) {
  .circle {
    width: 15rem;
    height: 15rem;
  }

  .circle5{
    width: 25rem;
    height: 25rem;
    display:none;
  }

  .maincircle {
    width: 25rem;
    height: 25rem;
    justify-content: center;
    opacity:1;
  }

  .maincircle:hover {
    width: 55rem;
    height: 55rem;
  }

  .maincircle img {
    width: 160%;
    height: 160%;
  }

  .aboutmetext span {
    font-size: 3rem;
  }

  .section4 {
    margin-bottom: 10rem;
  }

  .service-btn span {
    font-size: 9rem;
  }

  .service-text {
    font-size: 4rem;
  }
}


@media (max-width: 1350px) {
  .main-btn {
    width: 12.5rem;
    height: 12.5rem;
  }
  .maincircle{
    justify-content: center;
    opacity:1;
  }

  .circle5{
    width: 25rem;
    height: 25rem;
    display:none;
  }

  .circle {
    display: none;
  }

  .progress-bar {
    right: 1rem;
    bottom: 0;
  }

  .about-me-text span {
    font-size: 10rem;
  }
}


@media (max-width: 1150px) {
  html {
    font-size: 55%;
  }

  .mcircle,
  .mdot {
    display: none;
  }

  .navbar-link {
    margin: 0 2rem;
  }

  .maincircle {
    bottom: 45%;
    left: 3rem;
    width: 40rem;
    height: 40rem;
    align-self: center;
    justify-content: center;
    opacity:1;
  }

  .maincircle:hover {
    width: 45rem;
    height: 45rem;
  }

  .aboutmetext span {
    font-size: 2rem;
  }

  .project-img {
    padding: 7rem 11rem;
  }

  .project-hide-btn {
    right: 2rem;
  }

  .service-btn {
    height: 12rem;
  }

  .service-btn span {
    font-size: 8rem;
  }

  .service-text {
    font-size: 3.5rem;
  }

  .slideshow {
    margin: 5rem 0;
  }
}


@media (max-width: 900px) {
  .menu-icon {
    right: -4rem;
  }
  .services-wrapper{
    padding-top:15rem;
  }

  .navbar-link {
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .featured-text-1 {
    margin: 0 auto 0 5rem;
  }

  .maincircle{
    bottom: 45%;
    left:-7rem;
    width: 40rem;
    height: 40rem;
    align-self: center;
    justify-content: center;
    opacity:1;

  }

  .featured-text-2 {
    margin: 0 5rem 0 auto;
  }

  .sectionheading {
    left: 5rem;
  }

  .aboutmetext span {
    font-size: 5.5rem;
    color: #ccc;
  }

  .sh5{
    display: none;
  }

  .service-btn {
    height: 9rem;
  }

  .service-btn span {
    font-size: 6rem;
  }

  .service-text {
    font-size: 3.2rem;
  }
}


@media (max-width: 700px) {
  html {
    font-size: 50%;
  }

  .maincircle{
    bottom: 25%;
    left:-9rem;
    width: 40rem;
    height: 40rem;
    align-self: center;
    justify-content: center;
    opacity:1;

  }

  .contact-form-input {
    width: 50rem;
  }
}



@media (max-width: 550px) {
  html {
    font-size: 40%;
  }

  .maincircle{
    bottom: 40%;
    left:-23rem;
    width: 30rem;
    height: 30rem;
    align-self: center;
    justify-content: center;
    opacity:1;

  }

  .maincircle img {
    width: 180%;
    height: 180%;
  }

  .service-btn span {
    font-size: 4.5rem;
  }

  .service-text {
    font-size: 3rem;
    color: #bbb;
  }

  .contact-form-input {
    width: 40rem;
  }
  .section5{
    margin-top: -50rem;
  }

  .slideshow {
    width: 45rem;
  }

  .slideshow-link img {
    padding: 0 1.1rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 35%;
  }

  .logo {
    font-size: 1.7rem;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    justify-content: center;
    padding: 0;
  }

  .maincircle {
    bottom: 37%;
    left:-29rem;
    width: 40rem;
    height: 40rem; 
    align-self: center;
    justify-content: center;
    opacity:1;
  }

  .maincircle:hover {
    width: 40rem;
  }

  .maincircle img {
    width: 200%;
    height: 200%;
  }

  .form-heading {
    font-size: 5rem;
  }

  .section5{
    margin-top: -50rem;
  }
}


.preloader {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;
  background-image: url('/images/landing/preloader.gif.gif'); 
  background-repeat: no-repeat;
  background-color: #26193b;
  background-size: 100%;
  background-position: center;
  }

  #stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
    }